.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            About
          %p.lead
            DoCM, the Database of Curated Mutations, is a highly curated database of known,
            disease-causing mutations that provides easily explorable variant lists with direct links to source
            citations for easy verification.
          