.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            About
          %p.lead
            DoCM, the Database of Curated Mutations, is a highly curated database of known,
            disease-causing mutations that provides easily explorable variant lists with direct links to source
            citations for easy verification.
          %hr
          %h4
            DoCM Principles
          %p
            %ul
              %li  Highly curated lists of disease-causing mutations enable researchers and clinicians to foster collaboration and understand the current state of the art of pathogenic variation.
              %li  A centrallized public repository of pathogenic mutations allows for more comprehensive curation of the literature and reduces duplication of curation effort.
              %li  To promote DoCM's utility as well as collaboration between clinicians, researchers, and industry, DoCM's content is openly licensed under a Creative Commons license (#{link_to 'CC BY 4.0', 'https://creativecommons.org/licenses/by/4.0/'}), requiring only that attribution be given to the community that created the content.
              %li  No fees or exclusive access will be introduced.
              %li  DoCM will preserve previous versions of the database allowing access to static snapshots for the development of "locked down" assays.
          %br
          %h4
            DoCM Purpose
          %p
            %p
              Curation of the literature to produce a high quality set of pathogenic
              somatic mutations is not trival. Sifting through the ever growing body of cancer research literature
              (6% annual growth rate in the last 10 years), with over 156,399 articles 
              #{link_to 'related to cancer indexed by PubMed', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=cancer'} in 2015.
              This volume of literature makes it difficult to identify bona fide somatic mutations with characterized functional 
              or clinical significance in cancer. Once identified, these mutations require significant curation efforts to format 
              and standardize the mutations in a consistent way that enables databasing. For example, publications often only 
              specify the amino acid change and gene name to describe the mutation. DoCM addresses these challenges by acting as 
              an accessible, open-source, and openly licensed somatic mutation repository that also enables community contributions.

          %br
          %h4
            License
          %p
            DoCM by The
            %a{href: 'http://genome.wustl.edu/'}McDonnell Genome Institute at Washington University School of Medicine
            is licensed under a
            %a{href: 'https://creativecommons.org/licenses/by/4.0/'}Creative Commons Attribution 4.0 International License.
            Questions? Comments? Concerns? You can contact us
            %a{href: 'http://docm.genome.wustl.edu/contact'}here.
