.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Batch Submission Help
            %br
            %small Guidelines for submitting your own variants to DoCM
