.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Contact us
            %small Who Are We?
          %br
          %dl
            %dt Ben Ainscough - Creator, Curator, Developer
            %dd bainscou@genome.wustl.edu
            %br
            %dt Adam Coffman - Lead Software Developer
            %dd acoffman@genome.wustl.edu
            %br
            %dt Jason Kunisaki - Curator
            %dd jkunisak@genome.wustl.edu
            %br
            %dt Mayank Choudhary - Curator
            %dd nmayankc@genome.wustl.edu
            %br
            %dt Malachi Griffith, PhD - PI/Mentor
            %dd mgriffit@genome.wustl.edu
            %br
            %dt Obi Griffith, PhD - PI/Mentor
            %dd ogriffit@genome.wustl.edu
            %br
            %dt Elaine Mardis, PhD - PI/Mentor
            %dd emardis@genome.wustl.edu
            %br
            %dt Rick Wilson, PhD - PI/Mentor
            %dd rwilson@genome.wustl.edu
            %br