.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            FAQ
            %small Frequently Asked Questions
          %dl
            %dt How do I use the DoCM API?
            %dd 
              The API can be queried using HTTP requests. More information can be 
              found at our #{link_to 'API Documentation', '/api'} page
            %br
            %dt How often is DoCM updated?
            %dd 
              DoCM is updated monthly as new curated lists and variants are brought
              to our attention. If you think we are missing a variant or need to 
              update a record, #{link_to 'please submit your query', '/variant_submission'}.
               
