.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            FAQ
            %small Frequently Asked Questions
          %dl
            %dt Question Number One
            %dd This is an answer for the question presented above
            %br
            %dt Question Number Two
            %dd This is an answer for the next question presented above
