.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            News
          %br
          %dl
            %dt 1/15/16
            %dd API versioning system implemented, allowing past versions of the database to be queried.
            %dt 7/14/15
            %dd Database update. Integrated variants from #{link_to 'LE MacConail et al. 2014', 'http://www.ncbi.nlm.nih.gov/pubmed/25157968'}. 360 new variants from 63 genes representing 35 different cancer subtypes.
            %dt 2/26/15
            %dd DoCM presented at AGBT in San Marco Island, Fl.
            %dt 2/7/15
            %dd DoCM presented at the AACR Translation of the Cancer Genome meeting in San Fransisco.
            %dt 2/7/15
            %dd DoCM launch.
            %dt 12/26/14
            %dd Database update. Variants and metadata added from #{link_to 'Dienstmann et al. 2014', 'http://www.ncbi.nlm.nih.gov/pubmed/24768039'}.
            %dt 10/2/14
            %dd DoCM Beta test launch. Please submit feedback to #{link_to 'Ben Ainscough', 'mailto:bainscou@genome.wustl.edu'}.
          %hr