.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            News
          %br
          %dl
            %dt 10/2/14
            %dd DoCM Beta test launch. Please submit feedback to #{link_to 'Ben Ainscough', 'mailto:bainscou@genome.wutstl.edu'}.
          %hr