.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Sources
          %p.lead
            The initial release of the Database of Curated Mutations was created by
            integrating cancer driving mutations from the literature and 
            publicly available resources. 
          %hr
          %h3
            Resources integrated into DoCM
          %dl
            %dt My Cancer Genome
            %dt Dienstman et al Knowledge Database
