.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Getting Started
          %p.lead
            DoCM, the Database of Curated Mutations, is a highly curated database of known,
            disease-causing mutations that provides easily explorable variant lists with direct links to source
            citations for easy verification.
          %hr
          %h3
            FAQ
            %small Frequently Asked Questions
          %br
          %dl
            %dt Question Number One
            %dd This is an answer for the question presented above
            %br
            %dt Question Number Two
            %dd This is an answer for the next question presented above
          %hr
          %h3
            Contact Us
            %small Who Are We?
          %br
          %dl
            %dt John Doe, PhD - Creator, Curator
            %dd Contact John with any questions about the variants listed in DoCM or the methods used to curate them
            %dd email@example.com
            %br
            %dt John Doe, PhD - Creator, Curator
            %dd Contact John with any questions about the variants listed in DoCM or the methods used to curate them
            %dd email@example.com
            %br
            %dt John Doe, PhD - Creator, Curator
            %dd Contact John with any questions about the variants listed in DoCM or the methods used to curate them
            %dd email@example.com
            %br
            %dt John Doe - Developer
            %dd Contact John with any questions about the website or api, or to report any bugs you may find.
            %dd email@example.com
            %br
            %dt Did we miss a variant you know about?
            %dd= link_to('Please submit your variant to us!', '/variant_submission')


