.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Terms of Service
          %p.lead
            DoCM, the Database of Curated Mutations, is a highly curated database of known,
            disease-causing mutations that provides easily explorable variant lists with direct links to source
            citations for easy verification.
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at congue tortor, et consequat diam. Quisque sit amet tincidunt erat. Proin tempor orci sed tellus dapibus tristique. Vestibulum turpis metus, sollicitudin ornare lacus non, suscipit bibendum arcu. Aenean ac eros tincidunt leo scelerisque auctor a in lectus. Ut eleifend et enim mattis tincidunt. Duis sodales turpis augue, sed gravida turpis posuere sit amet. Phasellus sit amet dictum eros, eget auctor tellus. Sed nec euismod risus, nec luctus enim. Cras a sem malesuada diam viverra molestie. Nulla interdum a nulla ac consectetur.
          %p
            Sed tincidunt semper lectus. Nam iaculis, turpis eu facilisis pellentesque, elit turpis aliquet sapien, aliquet condimentum arcu nulla at enim. Aenean nec mattis odio, et volutpat nisl. Integer purus nulla, suscipit a feugiat eget, ullamcorper maximus urna. Ut lacinia ornare dui. Nullam interdum fringilla efficitur. Integer faucibus, lectus in euismod suscipit, orci nibh suscipit massa, et faucibus leo odio nec orci. Fusce tincidunt sapien quis quam lobortis varius. Proin commodo facilisis ligula vel auctor. Duis condimentum rutrum suscipit. Donec nisi ipsum, iaculis ac nulla non, mollis consectetur sem. Suspendisse porta nunc nec augue sodales condimentum. Sed eget mattis ante. Vestibulum dapibus nunc fringilla, sodales risus nec, imperdiet libero.
          %p
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ac ornare diam. Curabitur sit amet aliquam orci, sed accumsan orci. Nam mattis pharetra risus ac pellentesque. Vestibulum eu metus sodales, aliquet dolor eu, congue arcu. Vivamus ac nisi vel mi efficitur efficitur ut eget lectus. Nunc iaculis vitae dolor nec malesuada.