.form-group
  = label_tag(id, label_text)
  = select_tag(id, options_from_collection_for_select(collection, :to_s, :to_s, ->(_) { false }), multiple: true, class: ['chosen-select', 'form-control', 'filter-group'], data: {placeholder: 'All'} )
