.container-fluid
  .page-background
    .row
      .col-sm-3.col-lg-2.sidebar
        %form#filters
          .filter-group
            - @multiselect_filters.each do |filter_hash|
              = render partial: 'multiselect', locals: filter_hash
            - @range_filters.each do |filter_hash|
              = render partial: 'range', locals: filter_hash
          .submit-group
            %button.btn.btn-default.btn-xs#update-grid-button{type: 'button'}
              %span.glyphicon.glyphicon-refresh
              Update
            %a#tsv-export-button.btn.btn-default.btn-xs{href: '#'}
              %span.glyphicon.glyphicon-download-alt
              TSV
            %a#vcf-export-button.btn.btn-default.btn-xs{href: '#'}
              %span.glyphicon.glyphicon-download-alt
              VCF

      .col-sm-9.col-lg-10.main
        %h1.page-header Variants
        .table-bg
          .table-responsive
            %table.display.table.table-striped{ id: 'variants', data: { source: variants_url(format: 'json') }}
              %thead
                %tr
                  %th.all HGVS
                  %th.all CHR
                  %th.none Start
                  %th.none Stop
                  %th.none Reference
                  %th.none Variant
                  %th.none Reference Version
                  %th Gene
                  %th Amino Acid
                  %th Mutation Type
                  %th.desktop Diseases
                  %th.desktop Sources
              %tbody

        = variant_submission_link
