.table-responsive
  %table.display.table.table-striped.table-bordered{id: 'variants', data: { source: variants_url(format: 'json') }}
    %thead
      %tr
        %th CHR
        %th Start
        %th Stop
        %th Reference
        %th Variant
        %th Gene
        %th Amino Acid
        %th Diseases
      %tbody
